.App {
  /* text-align: center; */
  background-color: #FFF8E5;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}


/* input {
  -webkit-appearance: none;
} */